body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #23252C;
}

h1 {
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-top: 21px;
  margin-bottom: -12px;
}

h2 {
  color: #F5F5F5;
  font-size: 16px;
  margin-bottom: -5px;
}

h3 {
  color: #F3BF99;
  font-size: 12.8px;
  text-align: center;
  font-weight: 400;
}

p {
  font-size: 10px;
  color: #DCDCDC;
  text-align: center;
}

button {
  width: 115px;
  height: 34px;
  border-radius: 6px;
  margin: 7px 9px 20px 9px;
}

section {
  margin: 15px 20px;
}

section p {
  text-align: left;
  line-height: 1.6;

}

.button-holder {
  display: flex;
  justify-content: center;
}

.card {
  width: 320px;
  height: 780px;
  background-color: #1A1B21;
  border-radius: 6px;
}

.info-image {
  width: 320px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.linkedin {
  background-color: #5093E2;
  color: white
}

